<p style="color: green"><%= notice %></p>

<div class='relative mx-10'>
  <div id="animes" class='grid-flow-row auto-rows-auto space-between mt-10 ml-10'>
    <% @animes.each do |anime| %>
      <%= render anime %>
    <% end %>
  </div>

  <div class='fixed right-10 bottom-5'>
    <div class='bg-blue-500 py-4 px-5 rounded-xl'>
    <%= link_to new_anime_path do %>
      <i class="bi bi-plus-lg text-2xl text-white"></i>
    <% end %>
    </div>
  </div>
</div>