<div class='content w-2/5 min-h-screen my-10 mx-auto text-xl bg-white text-colour rounded-lg'>
  <div class='container form px-5 py-5 text-center'>
    <h2 class='my-10 text-[40px] font-semibold'>New anime</h2>

    <%= render "form", anime: @anime %>

    <br>

    <div>
      <%= link_to "Back to animes", animes_path %>
    </div>
  </div>
</div>