@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(229,235,241);
}

.text-colour{
    color: rgb(146,153,161);
}

.gray {
    background: rgb(229,235,241);
}

.header {
    
    background-color: rgb(8, 38, 56);

    li{
        color: rgb(152, 161, 165);
    }

    .link{
        color: rgb(152, 161, 165);
        text-decoration: none;
    }

    .link:hover{
        color: rgb(211, 217, 220);
    }
}
